@font-face {
  font-family: ProFontWindows;
  src: url(/ProFontWindows.ttf);
}

@font-face {
  font-family: HUN;
  src: url(/hun2.ttf);
}

:root {
  background-color: rgb(35, 35, 35);
  color: rgb(200, 200, 200);
  font-family: ProFontWindows;
  font-size: 1.75em;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.main-title,
.download-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.download-btn {
  font-family: HUN;
  font-style: normal;
  font-size: 1.6em;
  color: inherit;
  text-decoration: none;
  background-color: rgba(12, 12, 12, 0.8);
  border: 3px solid rgb(75, 75, 75);
  border-radius: 10px;

  width: 1.3em;
  height: 1.3em;
  text-align: center;
  line-height: 1.5em;
}

.tetrio-btn {
  font-size: 1.6em;
  text-decoration: none;
  background-color: rgba(27, 0, 94, 0.8);
  border: 3px solid rgb(61, 41, 127);
  border-radius: 10px;

  width: 1.3em;
  height: 1.3em;
  line-height: 1.7em;
}

.tetrio-btn:hover {
  cursor: pointer;
}

.tetrio-img {
  width: 40px;
  height: 40px;
}

.help-btn {
  font-family: HUN;
  font-style: normal;
  font-size: 2rem;
  background-color: rgba(107, 107, 107, 0.6);
  border: 3px solid rgb(170, 170, 170);
  border-radius: 10px;

  position: fixed;
  right: 1%;
  top: 1%;
  margin: 0px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.6em;

  cursor: pointer;
}


.players {
  width: 100%;
  display: grid;
  justify-items: center;
  flex-grow: 1;
  grid-template-columns: 50% 50%;
}

.submit {
  padding: 0.3em;
  font-family: ProFontWindows;
  font-size: 1.5em;

  cursor: pointer;
}

.dark-page {
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

h1 {
  font-family: HUN;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .download {
    font-size: 0.75em;
  }

  .help-btn {
    font-size: 0.75em;
  }
  .tetrio-img {
    width: 30px;
    height: 30px;
  }
}